img {
    display: block;
    width: 176px;
    height: 176px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
}

.box-1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}